<div class="content-footer">
  <div class="footer-info">
    <img
      class="footer-logo"
      src="/logos/logo_la_huaycha.png"
      alt="logo La Huaycha"
    />
    <p class="footer-description">
      Disfruta la emoción al máximo en nuestros juegos al aire libre, con
      atracciones de última generación y procesos tecnificados que garantizan
      seguridad, diversión y una experiencia inolvidable para toda la familia
    </p>
  </div>

  <div class="footer-schedule">
    <strong class="footer-title">Abrimos de:</strong>
    <p class="footer-text">Lunes - Viernes:</p>
    <p class="footer-text">8am-6pm</p>
    <p class="footer-text">Sábado - Domingo:</p>
    <p class="footer-text">8am-10pm</p>
  </div>

  <div class="footer-contact">
    <strong class="footer-title">Contáctenos</strong>
    <p class="footer-text">912 859 606</p>
    <p class="footer-text">polbasurto@hotmail.com</p>
    <p class="footer-address">Km 14, Mito-Concepción, Concepción, Perú</p>
  </div>

  <div class="footer-social">
    <strong class="footer-title">Visítenos en nuestras Redes Sociales:</strong>
    <div class="footer-social-icons">
      <a href="https://www.facebook.com/la.huaycha.huancayo.recreo/" target="_blank">
        <img class="social-icon" src="/icons/icon_facebook.svg" alt="icon facebook" />
      </a>
      <a href="https://www.instagram.com/la.huaycha/" target="_blank">
        <img class="social-icon" src="/icons/icon_instagram.svg" alt="icon instagram" />
      </a>
      <a href="https://www.tiktok.com/@lahuaychaoficial" target="_blank">
        <img class="social-icon" src="/icons/icon_tiktok.svg" alt="icon tiktok" />
      </a>
      <a href="https://wa.me/912859606">
        <img class="social-icon" src="/icons/icon_whatsapp.svg" alt="icon WhatsApp" />
      </a>
    </div>
  </div>
</div>

<div class="footer-bottom-div">
  <p class="footer-developer">
    © Desarrollado por el grupo 6
  </p>
  <button class="footer-button" onclick="changePage('nuestro-equipo')">
    Conócenos
  </button>
</div>
