<img class="logo-main" src="/logos/logo_la_huaycha.png" alt="logo La Huaycha" />

<div class="content-buttons-main">
  <button class="bt-change-theme" id="theme-toggle" onclick="changeToggleTheme()">
    <div class="bt-icon-theme-container">
      <img
        src="/icons/icon_sun.svg"
        alt="icon sun"
        id="bt-icon-theme"
        class="bt-icon-theme"
      />
    </div>
    <p>Cambiar tema</p>
  </button>

  <div class="menu-buttons">
    <button class="menu-button" onclick="goToIndex()">Inicio</button>
    <button class="menu-button" onclick="changePage('juegos')">Juegos</button>
    <button class="menu-button" onclick="changePage('pre-ventas')">Pre-venta</button>
    <button class="menu-button" onclick="changePage('acerca-de')">Acerca de</button>
  </div>
</div>

